.node {
    font-family: Roboto;

    background-color: var(--color-node-bg);
    box-shadow:
        0 2px 80px 0 #0001,
        0 2px 10px 0 #0001,
        0 2px 4px 0 #0001;

    border-radius: var(--corner-m);

    position: relative;
    overflow: hidden;

    border: 1px solid var(--color-node-border);
}

.node h1 {
    font-size: 1.8ex;
    font-weight: 600;

    color: var(--color-node-header-text);

    margin: 0;
    padding: var(--gap-xs);
    margin-bottom: 2px;

    text-align: center;
}

.nodeContent {
    padding: 0 var(--gap-m) var(--gap-s) var(--gap-m);
    gap: var(--gap-s);

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.checkers {
    background: linear-gradient(
            45deg,
            var(--color-node-text) 25%,
            transparent 25%,
            transparent 75%,
            var(--color-node-text) 75%
        ),
        linear-gradient(
            45deg,
            var(--color-node-text) 25%,
            transparent 25%,
            transparent 75%,
            var(--color-node-text) 75%
        );

    border-radius: var(--corner-s);
    background-color: #eee;
    opacity: 1;
    background-size: 4px 4px;
    background-position:
        0 0,
        2px 2px;
}
