:root {
    --handle-inside-disconnected: radial-gradient(#000, #555);
    --handle-inside-connected: radial-gradient(#aaa 35%, #000 50%);

    --handle-shadow: 0 0 0 1px #bbb inset, 0 -1px 0.5px 0.05px #fff9, 0 1px 1px 0.05px #0006,
        0 0 0 2px #bbb;
}

.handle
{
    position:      absolute;
    top:           calc(50% - 6px);
    width:         10px;
    height:        10px;
    border:        none;
    box-shadow:    var(--handle-shadow);
    border-radius: 50%;
}

.inputHandle 
{
    left: 4px;
}

.outputHandle 
{
    right: 4px;
}
