:root {
    --color-bg:                   #eee;
    --color-control:              #ccc;
    --color-active:               #ccc;
    --color-secondary:            #ddd;
    --color-highlight:            #ddd;
    --color-text:                 #000;
         
    --size-m:                     36px;
    --size-l:                     48px;
    --size-xl:                    64px;
    --size-xxl:                   80px;
    --size-xxxl:                  96px;
         
    --gap-xs:                     0.6ex;
    --gap-s:                      1ex;
    --gap-m:                      2ex;
                 
    --corner-m:                   1ex;
    --corner-s:                   0.5ex;
    --corner-xs:                  0.25ex;

    --min-toolbar-width:          5ex;

    --color-node-selection:       #08f;
    --color-node-header-text:     var(--color-node-selection);
    --color-node-bg:              #f8f8f8;
    --color-node-border:          #0004;
    --color-node-text:            #444;
    --color-node-value:           #666;
    --color-node-highlight:       #6bf;
    --color-node-highlight-value: #444;

    --color-wire:                 #999;
    --color-wire-selected:        #2292ff;

    --node-selected-style:        6px solid #09f8;
}
